@import url("Profile.html.css");

h1{
	font-family: andale mono;
	font-size: 35px;
	text-transform: capitalize;
	font:italic;
	color: dimgrey; 
	text-align: center;
	float:none;
}
topnav{
	float: center;
}
cite{
	float:right;
	color: grey;
}

.dropbtn {
    background-color: #704a4a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: static;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #704a4a}


.dropdown:hover .dropdown-content {
    display:block;
}


.dropdown:hover .dropbtn {
    background-color: dimgrey;
} 



nav ul{
	text-align: center;
	float:none;
}
li{
	font:italic;
	font-size: 16px;
	display:inline;
	text-transform: capitalize;
	font-weight:bold;
	boarder: 5px solid white;
	padding:5px;
}
li a{	
	color:#3C0708;
}
header{
	font-family: andale mono;
	font-size: 25px;
	text-transform: capitalize;
	font:italic;
	color: dimgrey; 
	padding-top: 60px;
	padding-bottom: 35px;
}
p3{
	font-family: andale mono;
	Float: center;
	color: black;
	font-size: 19px;
}



footer{
	clear: both;
	background:#704a4a;
	height:50px;
	width:auto;
	text-align:center;
	margin-top: 25px;
}

 



